html,
body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0;
  background-color: #222222;
}

body * {
  box-sizing: border-box;
}

#__next {
  position: absolute;
  height: 100%;
  width: 100%;
}

main {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

main.terms {
  justify-content: flex-start;
  max-width: 960px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #F9F9F9;
}

p, pre {
  color: #F9F9F9;
}

main.terms p {
  white-space: pre-wrap;
}

h3 {
  margin-top: 0;
}